{% extends "header.twig" %}

{% block content %}
{% if error is not empty %}
    {{error}}
{% endif %}
{% if gebruiker is empty %}
    <form action="gebruikerZoeken.php?action=opzoeken" method="post">
        <table>
            <tbody>
                <tr>
                    <td>Email</td>
                    <td>
                        <input type="email" name="email" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Opzoeken">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
{% else %}
        <form action="gebruikerBewerken.php?action=change" method="post">
            <table>
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Rechten</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{gebruiker.emailadres}}
                            <input type="text" name="emailZoek" value="{{gebruiker.emailadres}}" hidden>
                        </td>
                        <td>
                            <select name="rechten" required>
                                <option value="admin">Admin</option>
                                <option value="gebruiker">Gebruiker</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Aanpassen">
                        </td>
                    </tr>
            </tbody>
            </table>
        </form>
{% endif %}
{% endblock %}